
  .cont-footer ul {
    list-style: none;
  }
  .payment-method {
    margin-top: -40px;
    margin-left: 30px;
    padding-left: 50px;

  }
  .payment-method ul {
    margin-left: 20px;
  }
  .sign-margin {
    margin-bottom: 20px;
  
  }
  .signature {
    font-size: 18;
  
  }

  .countermargin{
    margin-top: 100px;
  }